<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".app.Bron24Application"
        android:allowBackup="true"
        android:configChanges="locale"
        android:localeConfig="@xml/locales_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bron24_android"
        tools:targetApi="tiramisu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screens.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Bron24_android"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.yandex.maps.apikey"
            android:value="3c062e82-1411-437c-9157-f7e96556b098"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPZTDwkpVBEJ-JUnz1d4r2BNPQCpiKKPA" />

    </application>

    <queries>
        <package android:name="com.example.yandex_maps_app" />
    </queries>

</manifest>